<div class="row">
  <div class="col">
    <h1>Contact</h1>
    <form class="needs-validation" novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">First name</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="First name"
            formControlName="firstName" [ngClass]="{
              'is-invalid': isValidField('firstName')
            }" />
          <div class="invalid-feedback">
            <span *ngIf="contactForm.get('firstName').errors?.required">
              Please enter your first name
            </span>
            <span *ngIf="contactForm.get('firstName').errors?.minlength">
              FirstName must be longer than
              {{
                contactForm.get("firstName").errors?.minlength?.requiredLength
              }}
              characters.
            </span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustomUsername">Last Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="validationCustomLastName" placeholder="Last Name"
              formControlName="lastName" />
          </div>
        </div>
      </div>
      <!-- new line  -->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustomEmail">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input type="text" class="form-control" id="validationCustomEmail" placeholder="Email" />
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustomEmail">Confirm Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input type="text" class="form-control" id="validationCustomEmail" placeholder="Confirm Email" />
          </div>
        </div>
      </div>
      <!-- end new line  -->
      <div class="form-group">
        <div class="col-md-6">
          <label for="">
            <input type="checkbox" class="form-check-input" formControlName="bill">I need a bill
          </label>
        </div>
      </div>
      <ng-container *ngIf="contactForm.get('bill').value">
        <div class="form-row mb-5" formArrayName="addresses">
          <ng-container [formGroupName]="i" *ngFor="let control of addresses.controls; index as i">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="validationCustom03" placeholder="City"
                  formControlName="city" />
              </div>
              <div class="col-md-3 mb-3">
                <input type="text" class="form-control" id="validationCustom04" placeholder="State"
                  formControlName="state" />

              </div>
              <div class="col-md-3 mb-3">
                <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" formControlName="zip"
                  maxlength="5" />
              </div>
            </div>

            <div class=" col-md-3 mb-3">
              <button class="btn btn-outline-danger btn-small" (click)="onRemove(i)">X</button>
            </div>
          </ng-container>
          <div class=" col-md-3 mb-3">
            <button class="btn btn-info" (click)="onAddNewAddresses()">Add new Address</button>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div class="col">
          <div class="float-left">
            <button class="btn btn-info btn-lg" (click)="onReset()">
              Reset
            </button>
          </div>
          <div class="float-right">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="contactForm.invalid">
              Submit form
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
